<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="awsAccessKeyID" value="AKIAVCZAFNMPZNIZT4IQ" />
		<add key="awsSecretAccessKey" value="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" />
		<add key="bucketName" value="junior-developer-candidate-test-gtmaritime" />
	</appSettings>
</configuration>